# Reset all parent .dockerignore rules
!**

# Now ignore only what THIS app wants ignored
.Rproj.user
rsconnect
renv/library/
renv/cache/

/.Rprofile
.Rprofile
.Renviron
Rprofile.site
Rprofile
Renviron
