.Rproj.user/
.Rproj.user
.positai
*.Rhistory
*.RData
*.Ruserdata
PGA.R
golfpkgdev.R
Card.csv
.Renviron
compose_email
email_template.Rmd
inst/doc
skill_model.R
*.tar.gz
*.zip
rsconnect/
packrat/
run_etl.R
overwrite_csvs.R
inst/extdata/golf.duckdb
inst/extdata/golf.duckdb.wal
inst/extdata/*.duckdb